/*********************
Initial Styles
*********************/

body {
	margin: 0;
	background-color: #2e363d;
	font-size: 100%;
	line-height: 1;
}
h1 {
	font-family: 'Marcellus SC', serif;
	font-size: 4em;
	text-align: center;
	margin-top: 50px;
	color: #3E62D6;
}
p {
	font-family: 'Marcellus SC', serif;
	font-size: 1.4em;
	text-align: center;
	margin: 25px auto 0 auto;
	color: #fff;
	max-width: 75%;
}
/*********************
Navigation Styles
*********************/
nav ul, nav li {
        margin: 0;
        padding: 0;
        list-style: none;
}
nav {
        display: block;
        width: 66.666666666666666666666666666667%;
        height: 60px;
        margin: 0 auto;
        min-width: 850px;
}
.nav {
        height: 30px; 
        width: 15.625%;
        min-width: 120px;
        margin: 0px 0px 0px 01.25%;
        float: left;
        background-color: #e5e5e5;
        -webkit-border-radius: 0px 0px 15px 15px; 
        -moz-border-radius: 0px 0px 15px 15px; 
        -o-border-radius: 0px 0px 15px 15px; 
        border-radius: 0px 0px 15px 15px; 
        text-align: center;
        padding-top: 8px;
        border-bottom: 1px solid #ddd;
        color: #2e363d;
        text-decoration: none;
        font-size: 1em; 
	font-family: 'Marcellus SC', serif;
}

.nav.first {
	margin-left: 0px;
}

.nav:hover {
	text-decoration: none;
	background-color: #ccc;
	border-top: 3px solid #3E62D6;
}
.nav:visited {
	color: #2e363d;
}
.transition li {
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-ms-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
}

/********************************************************
Media Query for Screens and Devices 850px or less
********************************************************/
@media all and (max-width: 850px) {

	nav {
                width: 100%;
                height: 82px;
                margin: 0px;
                min-width: 250px;
	}
        .nav {
                height: 30px; 
                margin: 0px; 
                width: 33.125%;
                min-width: 50px;
                float: none;
                border-bottom: none;
                -webkit-border-radius: 0px; 
                -moz-border-radius: 0px; 
                -o-border-radius: 0px; 
                border-radius: 0px; 
                display: block;
                font-size: 1.1em;
        }
        .column1, .column2 {
                float: left;
                margin-right: 1px;
                margin-bottom: 1px;
        }
        .column3 {
                float: left;
                margin-bottom: 1px;
                margin-right: 0px;
        }
        .nav:hover {
                border-top: none;
        }  	
}


